<div class='card mb-5'>
  <div class='row'>
    <div class='col-md-8 cart'>
      <div class='title'>
        <div class='row'>
          <div class='col'>
            <h4><b>Cart</b></h4>
          </div>
          <div class='col align-self-center text-right text-muted'>{{cartData}}
            vehicles</div>
        </div>
        <div class='col-sm-12 empty-cart-cls text-center'>
          <img
            src='https://i.imgur.com/dCdflKN.png'
            width='130'
            height='130'
            class='img-fluid mb-4 mr-3'
          />
          <h3><strong>Your Cart is Empty</strong></h3>
          <h4>Add something to make me happy :)</h4>
          <a
            href='#'
            class='btn btn-primary cart-btn-transform m-3'
            data-abc='true'
          >continue shopping</a>

        </div>
      </div>
    </div>
    <div class='col-md-4 summary'>
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <div class='row'>
        <div class='col' style='padding-left:0;'>total</div>
        <div class='col text-right'>RS {{sum}}</div>
      </div>
      {{! <a class='btn-book btn' type='button' id='booknowCart'>Book now</a> }}
      <a
        class='btn-book btn'
        type='button'
        id='bookVehcile'
        href='/checkout/cart'
      >Book now</a>
    </div>
  </div>

</div>